langchain
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
transformers
numpy
spacy
langchain-google-community
langchain-google-genai
langchain-milvus
python-multipart
langgraph
pypdf
uvicorn
